<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DataBaseConnectString"
		connectionString = "data source=.; database = ShoppingList; integrated security=SSPI"/>
		<!--connectionString = "data source=.; database = Person; integrated security=SSPI"/>-->
		<!--connectionString = "data source=.; database = Person; integrated security=SSPI"/>-->
		
	</connectionStrings>
</configuration>